appdirs==1.4.4
certifi==2024.8.30
charset-normalizer==3.3.2
cramjam==2.8.3
fastparquet==2024.5.0
fsspec==2024.9.0
idna==3.8
nfl_data_py==0.3.2
numpy==2.1.1
packaging==24.1
pandas==2.2.2
pytest==8.3.3
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
six==1.16.0
streamlit==1.60.0
tzdata==2024.1
urllib3==2.2.3
